[Unit]
Description=Main app
After=multi-user.target

[Service]
User=root
Group=root

WorkingDirectory=/home/app

ExecStart=/home/app/.venv/bin/python3 /home/app/.venv/bin/fastapi run app.py --port 8000

Restart=always
RestartSec=3

StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
