[Unit]
Description=MCP Server
After=multi-user.target

[Service]
User=root
Group=root

WorkingDirectory=/home/mcp

ExecStart=/home/mcp/.venv/bin/python3 /home/mcp/.venv/bin/fastapi run mcp.py --port 8001

Restart=always
RestartSec=3

StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
